<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hive</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.4.0/pixi.min.js"></script>
    <script type="text/javascript">
        let type = "WebGL";
        if (!PIXI.utils.isWebGLSupported()) {
              type = "canvas";
            }
        PIXI.utils.sayHello(type);

        //Create a Pixi Application
        const app = new PIXI.Application({resizeTo: window,
                                          background: 'white',
                                          antialias: true,
                                          autoDensity: true,
                                          resolution: window.devicePixelRatio || 1})


        //Add the canvas that Pixi automatically created for you to the HTML document
        document.body.appendChild(app.view);

        function drawHexagon(x, y, size, text, colour) {
            // Draw the shadow hexagon
            var shadow = new PIXI.Graphics();
            shadow.pivot.set(0, 0);
            shadow.x = x + 5; // Offset the shadow
            shadow.y = y + 5;
            shadow.beginFill(0x000000, 0.5); // Black color, 50% opacity
            drawPolygon(shadow, size);
            shadow.endFill();

            // Draw the actual hexagon
            var hexagon = new PIXI.Graphics();
            hexagon.pivot.set(0, 0);
            hexagon.x = -5; // Offset the hexagon
            hexagon.y = -5;
            hexagon.lineStyle(2, 0x000000, 1);
            hexagon.beginFill('#e37700');
            drawPolygon(hexagon, size);
            hexagon.endFill();

            var hexagonText = new PIXI.Text(text, {fill : 0xffffff});
            hexagonText.anchor.set(0.5, 0.5);
            hexagon.addChild(hexagonText);

            hexagon.interactive = true;
            hexagon.buttonMode = true;
            hexagon.on('mouseover', function() {
                hexagon.tint = '#cbcbcb';
            });
            hexagon.on('mouseout', function() {
                hexagon.tint = '#ffffff';
            });

            // Add the hexagon as a child of the shadow
            shadow.addChild(hexagon);

            return shadow;
        }

        function drawPolygon(graphics, size) {
            var points = [];
            for(var i=0; i<6; i++) {
                var angle = (Math.PI / 3) * i,
                    px = size * Math.cos(angle),
                    py = size * Math.sin(angle);
                points.push(px, py);
            }
            graphics.drawPolygon(points);
        }

        let hexagon = drawHexagon(app.screen.width / 2, app.screen.height / 2, 50, 'queen', 'orange')
        app.stage.addChild(hexagon);

    </script>

</body>
</html>